@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="centered"><ContainerUI Entity=@from.Entity CurrentType=@from.CurrentType></ContainerUI></div>
</root>

@code
{

	[Property] public ContainerUI from {get;set;}
	[Property] public ContainerUI to {get;set;}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( from, to );
}