ContainerTransfer
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: row;
	font-family: 'Monofonto';
	color: #fff;

	.title
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}
	.centered
	{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		width: 100%;
		height: 100%; 
	}
}