CrossHair
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;
	font-family: 'Monofonto';
	color: #fff;
	.title
	{
		font-size: 25px;
		font-family: Poppins;
		
	}
	.centered
	{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}